* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/background.png");
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.header {
background-color: rgba(255, 255, 255, 0.75) ;
padding: 25px 0;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row::after, .menu::after {
content: "";
display: block;
clear: both;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-1 {
    width: 8.33333%;
}
.col-2 {
    width: 16.66667%;
}
.col-3 {
    width: 25%;
}
.col-6 {
    width: 50%;
}
.col-12 {
    width: 100%;
}
.menu > li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}
.menu > li:last-child {
    border-right: 1px solid #2c71b8; 
}
.menu a {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
}
.menu > li:hover > a:after {
position: absolute;
content: '>';
font-weight: bold;
right: 5px;
transform: rotate(90deg);
}


.menu > li:hover {
    background-color: #2c71b8;
    border-left: 0;
}
.menu > li:hover a {
    color: white;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #2c71b8;
}
.menu > li:hover a ~ .submenu {
    display: block;
    width: max-content;
}
.submenu li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  border: none;
  color: white;
  margin: 0 30px;
}
.submenu li:hover {
    background-color: white;
}
.submenu li:hover a {
    color:  #2c71b8;
}

.search {
    width: 200px; 
    border: 1px solid #2c71b8; 
    height: 40px; 
    margin: 5px;
   }
   input[type="search"] {
    border: none; 
    outline: none; 
    -webkit-appearance: none; 
    width: 160px; 
    vertical-align: middle; 
    text-align: left;
    background-color: transparent;
    font-family: Roboto;
   }
   ::-webkit-input-placeholder {
    color: #2c71b8;
    font-size: 18px;
    padding-left: 10px;
}
   .button-search {
    width: 30px; 
    height: 30px; 
    border: none; 
    background-color: #2c71b8;
    margin: 5px 0;
   }
   form {
       float: left;
    
   }
.button-basket {
    margin: 5px 0px 5px 20px;
    width: 40px; 
    height: 40px;
}
.four {
    width: 20px; 
    height: 20px;
    text-align: center;
    font-size: 13px;
    padding: 2px;
    color: white;
    background-color: #2c71b8;
    border: 1px solid #2c71b8;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 1495px;
}
.four::after {
    content: "";
    display: block;
    clear: both;
    }